services:
  nginx:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /home/deploy/ssl/smartduuka:/etc/nginx/ssl:ro
      - php_socket:/var/run/php
      - assets_media:/app/public/media:ro
      - demo_assets_media:/app/public/media:ro
    depends_on:
      - api
    networks:
      - smartduuka_network

  api:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: api
    restart: unless-stopped
    volumes:
      - app_storage:/app/storage
      - assets_static:/app/public/static
      - assets_media:/app/public/media
      - php_socket:/var/run/php
      - /home/deploy/sql:/app/database/sql:ro
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "test", "-S", "/var/run/php/php-fpm.sock" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - smartduuka_network

  db:
    image: postgres:latest
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data # Added /data suffix for Postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}" ]
      interval: 5s
      timeout: 5s
      retries: 20
    networks:
      - smartduuka_network

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    command: [ "redis-server", "--requirepass", "${REDIS_PASSWORD}" ]
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - smartduuka_network

volumes:
  postgres_data:
  redis_data:
  app_storage:
  assets_static:
  assets_media:
  php_socket:
    external: true
    name: smartduuka_php_socket
  demo_assets_media:
    external: true
  demo_assets_static:
    external: true

networks:
  smartduuka_network:
    name: smartduuka_network
    external: true